.w_2 {
    width: 2%;
}

.w_5 {
    width: 5%;
}

.w_8 {
    width: 8%;
}

.w_10 {
    max-width: 15%;
}

.w_60 {
    max-width: 60%;
}

.list_icons {
    width: 60px;
}

.search_icon img{
    width: 2rem;
}

a {
    text-decoration: none;
}

.p_text {
    font-size: .8rem;
}

.btn_red {
    background-color: red; 
}

.btn_blue {
    background-color: #2d64e6;
}

.btn_gray {
    background-color: lightgray;
}

.text_play {
    font-size: .9rem;
}

.img_jumbo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bkg_lightblack {
    background-color: #1f1f1f;
}

.bkg_gray {
    background-color: #bebcbb;
}

.bkg_dark_blue {
    background-color: #161c3b;
}