main {
    margin-top: 100px;
}

.w_2 {
    width: 2%;
}

.w_5 {
    width: 5%;
}

.w_8 {
    width: 8%;
}

.w_10 {
    max-width: 15%;
}

.w_60 {
    max-width: 60%;
}

.sub_list {
    list-style-type: disc;
    color: blue;
}

.list_icons {
    width: 60px;
}

.search_icon img{
    width: 2rem;
}

a {
    text-decoration: none;
}

.p_text {
    font-size: .8rem;
}

.img_main {
    border-radius: 1rem;
}

.img_selected {
    border: 4px solid #2d64e6;
    border-radius: 1.1rem;
    padding: .1rem;
}

.btn_gray {
    background-color: lightgray;
}

.text_play {
    font-size: .9rem;
}

.img_jumbo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bkg_lightblack {
    background-color: #1f1f1f;
}

.bkg_gray {
    background-color: #bebcbb;
}

.bkg_dark_blue {
    background-color: #161c3b;
}

.bkg_power_blue {
    background-color: #00439c;
}

.list_footer {
    list-style-type: none;
}

.footer_info {
    text-decoration: underline;
}