main {
    margin-top: 100px;
}

.w_2 {
    width: 2%;
}

.w_5 {
    width: 5%;
}

.w_8 {
    width: 8%;
}

.w_10 {
    max-width: 15%;
}

.w_60 {
    max-width: 60%;
}

.sub_list {
    list-style-type: disc;
    color: blue;
}

.nav_list:hover {
    color: #666666 !important;
}

.sub_link:hover {
    color: #2d64e6 !important;
}

.list_icons {
    width: 60px;
}

.search_icon img{
    width: 2rem;
}

a {
    text-decoration: none;
}

.p_text {
    font-size: .8rem;
}

.img_main {
    border-radius: 1rem;
}

.img_main {
    margin-top: 0;
}

.img_up:hover {
    transition: .4s;
    transform: translateY(-15px);
}

.img_selected {
    border: 4px solid #2d64e6;
    border-radius: 1.1rem;
    padding: .1rem;
}

.img_accessories:hover {
    opacity: 1 !important;
    border-bottom: 1px solid #2d64e6;
    height: auto;
}

.btn_gray {
    background-color: lightgray;
}

.btn_borders {
    border-radius: 1.8rem;
    border: 3px solid black;
    visibility: hidden;
}

.btn_borders:hover {
    visibility: visible;
}

.btn_borders:hover .btn_inside {
    transform: scale(.9);
}

.btn_inside {
    visibility: visible;
}

.btn_bord {
    border: 3px solid black;
    border-radius: 2rem;
    visibility: hidden;
}

.text_inside {
    margin: .2rem;
    visibility: visible;
}

.btn_main:hover .btn_bord {
    visibility: visible;
}

.text_play {
    font-size: .9rem;
}

.img_jumbo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bkg_lightblack {
    background-color: #1f1f1f;
}

.bkg_gray {
    background-color: #bebcbb;
}

.bkg_dark_blue {
    background-color: #161c3b;
}

.bkg_power_blue {
    background-color: #00439c;
}

.list_footer {
    list-style-type: none;
}

.footer_info {
    text-decoration: underline;
}